defaults: &defaults
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: localhost
  username: root
  password: root

development:
  <<: *defaults
  database: app_development

test:
  <<: *defaults
  database: app_test

production:
  <<: *defaults
  database: app_production

